@font-face {
    font-family: limelight-regular;
    src: url(./assets/Limelight-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

h1 {
    color: white;
    font-family: limelight-regular;
    font-size: 6rem;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("./assets/sidebar-image.jpg");
    background-size: contain;
    background-position: bottom;
    width: 30%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: absolute;
    top: 20%;

    background-color: rgba(0, 0, 0, 0.5);
    width: 30%;
}

.logo-image {
    height: 10rem;
}

.credits {
    position: relative;
    top: calc(100vh - 2rem);
    color: white;
}
